<div *ngIf="comunic.mostarCarregando" class="text-center carregando" style="position:fixed;display:block; left: 0; right: 0; top: 0; bottom: 0; z-index: 1000; background-color: rgba(0, 0, 0, 0.247); overflow: hidden;">
  <div class="alert alert-info" style="padding: 10px 30px; display: inline-block;  vertical-align: middle; border-radius: 15px;">
    <div class="msg mb-1">
      {{comunic.mensagemCarregando}}
    </div>
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</div>
<body>

  <app-nav-menu></app-nav-menu>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</body>
